*,
*::before,
*::after {
  box-sizing: boder-box;
}

:root {
  --body-color: #f6f8fa;
  --surface-color: #ffffff;
  --border-color: #e1e4e8;

  --text-color: #000;

  --border-radius: 0.5em;

  /* Colors */
  --prussian-blue: #0f2636ff;
  --prussian-blue-2: #113351ff;
  --indigo-dye: #123c66ff;
  --indigo-dye-rgb: 18, 60, 102;
}

body.dark {
  --body-color: #1f2428;
  --surface-color: #24292e;
  --border-color: #1b1f23;

  --text-color: #fff;
}

body {
  font-family: Inter, sans-serif;
  line-height: 1.5;

  background: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  line-height: 1.15;
}

h1 {
  font-size: 2.5rem; /* 40px */
  text-transform: capitalize;
}

h2 {
  font-size: 1.875rem; /* 30px */
}

h3 {
  font-size: 1.5rem; /* 24px */
  margin: 2em 0 0.5em;
}

p {
  font-size: 1.25rem; /* 20px */
}

h3 + p {
  margin-top: 0;
}

article {
  margin: 0 auto;
  width: 90%;
  max-width: 70ch;
}
