*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:focus {
  outline: 2px solid;
}

:root {
  /* Sizes */
  --navbar-height: 70px;
  --widget-border-radius: 4px;
  --dialog-border-radius: 6px;

  --body-background: #f0f2f5;
  --surface-background: #ffffff;
  --button-background: #e4e6eb;
  --button-pressed-background: #dadada;

  --text-color: #333333;

  /* Colors */
  --theme-inverse-color: 0, 0, 0;
  --theme-color: 255, 255, 255;

  --primary-color-100: #007cf8;
  --primary-color-200: #006fdd;
  --primary-color-300: #0062c3;
  --primary-color-400: #0055a9;
  --primary-color-500: #004890;
  --primary-color-500: #0466c8;
  --primary-color-600: #004285;
  --primary-color-700: #003d7a;
  --primary-color-800: #003870;
  --primary-color-900: #003366;
  --primary-color-rgb: 0, 72, 144;
  --primary-color-rgb: 4, 102, 200;

  --warning-color: #f9ae3f;
  --warning-color-rgb: 249, 174, 63;
  --error-color: #de5050;
  --error-color-rgb: 222, 80, 80;
  --success-color: #37bc64;
  --success-color-rgb: 55, 188, 100;

  /* Shadows */
  /* <- Widget */
  --shadow-outside-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-outside-2: 0 2px 12px rgba(0, 0, 0, 0.2);
  --shadow-outside-3: 0 12px 28px 0 rgba(0, 0, 0, 0.2),
    0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);

  --widget-default-outset-shadow-1: 0px 1px 1px rgba(0, 0, 0, 0.2);
  --widget-default-inset-shadow-1: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  --widget-focus-outset-shadow-1: var(--widget-default-outset-shadow-1),
    0 0 0 0.2em rgba(255, 255, 255, 0),
    0 0 0 0.2em rgba(var(--primary-color-rgb), 0.3);
  --widget-focus-inset-shadow-1: var(--widget-default-outset-shadow-1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.2),
    inset 0 0 0 1px rgba(var(--primary-color-rgb), 0.7);
  /* -> */
  /* -> */
}

body.dark {
  --body-background: #242526;
  --surface-background: #333333;
  --button-background: #48494b;
  --button-pressed-background: #424040;

  --text-color: #fafafa;
  --theme-inverse-color: 255, 255, 255;
  --theme-color: 0, 0, 0;

  /* <- Shadows */
  /* <- Widget */
  --widget-default-outset-shadow-1: 0px 1px 1px rgba(0, 0, 0, 0.5);
  --widget-default-inset-shadow-1: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  --widget-focus-outset-shadow-1: var(--widget-default-outset-shadow-1),
    0 0 0 0.2em rgba(255, 255, 255, 0.2),
    0 0 0 0.2em rgba(var(--primary-color-rgb), 0.5);
  --widget-focus-inset-shadow-1: var(--widget-default-outset-shadow-1),
    inset 0 0 0 1px rgba(var(--primary-color-rgb), 0.7);
  /* -> */
  /* -> */
}

body {
  font-family: Inter, sans-serif;
  line-height: 1.5;

  background: var(--body-background);
  color: var(--text-color);
}

::selection {
  color: #fff;
  background: rgba(var(--primary-color-rgb), 0.7);
}

h1,
h2,
h3 {
  line-height: 1.15;
}

h1 {
  font-size: 2.5rem; /* 40px */
  text-transform: capitalize;
}

h2 {
  font-size: 1.875rem; /* 30px */
}

h3 {
  font-size: 1.5rem; /* 24px */
  margin: 2em 0 0.5em;
}

p {
  font-size: 1.25rem; /* 20px */
}

h3 + p {
  margin-top: 0;
}

article {
  margin: 0 auto;
  width: 90%;
  max-width: 70ch;
}

/* <- button */
button,
.button {
  outline: none;
  border: none;
  border-radius: var(--widget-border-radius);
  color: var(--text-color);
  padding: 8px 16px;
  font-weight: 500;
  background: var(--button-background);

  /* X Y blur spread color */
  box-shadow: var(--widget-default-outset-shadow-1),
    var(--widget-default-inset-shadow-1);

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

:is(button, .button):active {
  background: var(--button-pressed-background);
}

:is(button, .button):focus {
  outline: none;
  box-shadow: var(--widget-focus-inset-shadow-1),
    var(--widget-focus-outset-shadow-1);
}

:is(button, .button).primary {
  background: var(--primary-color-500);
  color: #fff;
}

:is(button, .button).primary:active {
  background: var(--primary-color-600);
}

:is(button, .button):disabled {
  background: rgba(var(--theme-inverse-color), 0.1) !important;
  color: var(--gray-color-300);
}

:is(button, .button):disabled:hover {
  cursor: not-allowed;
}

:is(button, .button):disabled:active {
  transform: none;
}
/* -> */

/* <- input */
input,
textarea {
  border-radius: var(--widget-border-radius);
  outline: none;
  background: var(--surface-background);
  color: var(--text-color);
  border: 1px solid rgba(var(--theme-inverse-color), 0.2);
  padding: 7px;
  box-shadow: var(--widget-default-outset-shadow-1);
}

:is(input, textarea):focus {
  outline: none;
  box-shadow: var(--widget-focus-outset-shadow-1);
  border-color: rgba(var(--primary-color-rgb), 0.7);
}

:is(input, textarea):required {
  border-color: var(--error-color);
}

:is(input, textarea):required:focus {
  box-shadow: var(--widget-default-outset-shadow-1),
    0 0 0 0.2em rgba(255, 255, 255, 0),
    0 0 0 0.2em rgba(var(--error-color-rgb), 0.3);
}

:is(input, textarea).success {
  border-color: var(--success-color);
}

:is(input, textarea).success:focus {
  box-shadow: var(--widget-default-outset-shadow-1),
    0 0 0 0.2em rgba(255, 255, 255, 0),
    0 0 0 0.2em rgba(var(--success-color-rgb), 0.3);
}
/* -> */

/* <- Dialog */
.surface {
  background: var(--surface-background);
  border-radius: var(--dialog-border-radius);
  box-shadow: var(--widget-default-inset-shadow-1),
    var(--widget-default-outset-shadow-1);
  padding: 0.8em;
}
/* -> */
