*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:focus {
  outline: 2px solid;
}

:root {
  --body-color: #f6f8fa;
  --surface-color: #ffffff;
  --border-color: #e1e4e8;

  --text-color: #000;

  --border-radius: 0.5rem;

  /* Colors */
  --monochromatic-color: 0, 0, 0;

  --primary-color-100: #007cf8;
  --primary-color-200: #006fdd;
  --primary-color-300: #0062c3;
  --primary-color-400: #0055a9;
  --primary-color-500: #004890;
  --primary-color-600: #004285;
  --primary-color-700: #003d7a;
  --primary-color-800: #003870;
  --primary-color-900: #003366;
  --primary-color-rgb: 0, 72, 144;

  /* Shadows */
  --shadow-outside-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

body.dark {
  --body-color: #1f2428;
  --surface-color: #24292e;
  --border-color: #1b1f23;

  --text-color: #fff;
}

body {
  font-family: Inter, sans-serif;
  line-height: 1.5;

  background: var(--body-color);
  color: var(--text-color);
}

::selection {
  background: rgba(var(--primary-color-rgb), 0.3);
}

h1,
h2,
h3 {
  line-height: 1.15;
}

h1 {
  font-size: 2.5rem; /* 40px */
  text-transform: capitalize;
}

h2 {
  font-size: 1.875rem; /* 30px */
}

h3 {
  font-size: 1.5rem; /* 24px */
  margin: 2em 0 0.5em;
}

p {
  font-size: 1.25rem; /* 20px */
}

h3 + p {
  margin-top: 0;
}

article {
  margin: 0 auto;
  width: 90%;
  max-width: 70ch;
}

/* <- button */
button,
.button {
  outline: none;
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  padding: 8px 16px;
  font-weight: 500;
  transform: scale(1);
  margin: 0.2em;
  background: rgba(var(--monochromatic-color), 0.1);
}

:is(button, .button):hover {
  cursor: pointer;
  background: rgba(var(--monochromatic-color), 0.2);
}

:is(button, .button):focus {
  outline: none;
  box-shadow: 0 0 0 0.2em rgba(var(--monochromatic-color), 0.1);
}

:is(button, .button).secondary {
  background: transparent;
}

:is(button, .button).secondary:hover {
  background: rgba(var(--monochromatic-color), 0.1);
}

:is(button, .button).secondary:focus {
  box-shadow: 0 0 0 0.2em rgba(var(--monochromatic-color), 0.05);
}

:is(button, .button).primary {
  background: var(--primary-color-500);
  color: #fff;
}

:is(button, .button).primary:hover {
  background: var(--primary-color-600);
}

:is(button, .button).primary:focus {
  box-shadow: 0 0 0 0.2em rgba(var(--primary-color-rgb), 0.4);
}

:is(button, .button):active {
  transform: scale(0.95);
}

:is(button, .button):disabled {
  background: rgba(var(--monochromatic-color), 0.1) !important;
  color: var(--gray-color-300);
}

:is(button, .button):disabled:hover {
  cursor: not-allowed;
}

:is(button, .button):disabled:active {
  transform: none;
}
/* -> */
