noscript {
  display: grid;
  padding: 1em;
  background: var(--surface-color);
  color: #000;
  border-radius: 7px;
  background: #fff;
  font-weight: 500;
  font-size: 2.2em;
  width: 90%;
  max-width: 750px;
  margin: 4em auto 0;

  grid-template-columns: 0.4fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'svg  text'
    'svg  logo';
  gap: 20px;
  border: 1px solid var(--border-color);
}

noscript .svg {
  grid-area: svg;
  justify-self: stretch;
}

noscript .text {
  grid-area: text;
}

noscript .logo {
  grid-area: logo;
  width: 55px;
  border-radius: 50%;
  justify-self: end;
}
